html, body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

/*navigation styling*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5% 0;
  width: 25%;
  background-color: #3C72A2;
  position: fixed;
  right: 0;
  height: 100%;
  overflow: auto;
  color: white;
  font-size: 2em;
}

.nav ul li a {
  display: block;
  margin: 5%;
  padding: 8% 3%;
  text-decoration: none;
  color: white;
}

.nav ul li a.active {
  text-decoration: underline;
  color: white;
  text-shadow: black 1px 1px 2px;
}

.nav ul li a:hover:not(.active) {
  background-color: #20BEAD;
  color: white;
  text-shadow: black 1px 1px 2px;
}


/*basic typography*/

.title {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 5em;
    text-shadow: black 2px 2px 4px;
}

.subtitle {
    margin: 0;
    padding: 0;
    text-shadow: black 1px 1px 3px;
}

/*basic layout*/

.main {
  margin-right:25%;
  padding: 20px 40px;
  background-color: #0B4E8A;
  min-height: 100vh;
}


/*color page css*/
#circle {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  border-color: white;

}

#img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 8px white solid;
  margin: 20px;
}

img {
  width: 100%;
  border: 8px white solid;

}

.code {
  font-size: 43px;
}

.button1 {
  height: 80px;
  width: 250px;
  background-color: #20BEAD;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2 {
  height: 80px;
  width: 250px;
  background-color: #1995C9;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content:space-around
}

.subtitle {
  margin-bottom: 80px;
  margin-top: 50px;
}